<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est ipsum maxime, nihil illo fugit accusantium fugiat iure quia exercitationem ratione?</p>
    </div>
</section>