<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos repellendus nam voluptate sed deleniti aperiam?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores asperiores cupiditate explicabo repellat voluptates est laborum tempore ad officiis voluptatem?</p>
    <a href="https://www.faztweb.com" class="btn btn-primary">FaztWeb</a>
</div>
    
